body {
    background-color: lightblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
}
table {
    width: 100%;
    border: 2px dotted;
    text-align: center;
}
th, td {
    text-align: center;
    background-color:aliceblue;
    border: 2px dotted;;
    padding: 15px;
    width: 33.33%;
}
.item-button {
    border: 2px solid black;
    padding: 10px 40px;
    cursor: pointer;
}
.done-button {
    border: dotted;
    padding: 20px 100px;
    cursor: pointer;
    font-size: 30px;
}
.image-class {
    width: 200px;
    height: 200px;
}
#currentAmount {
    border: 5px solid black;
    padding: 5px;
}
#totalAmount {
    border: 5px solid black;
    padding: 5px;
}